{% extends 'base.html' %}

{% block main %}
 <div>
 <h1>Social accounts authentication demo</h1>
 <br><br>
 <p>
   <ul>
   {% if user and not user.is_anonymous %}
     <li>
       <a>Hello {{ user.get_full_name|default:user.username }}!</a>
     </li>
     <li>
       <a href="/logout/">Logout</a>
     </li>
   {% else %}
   <div class="row">
   		<div class="col-md-3"><a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}"><button class="btn btn-primary">Login with Facebook</button></a></div>

   		<div class="col-md-3"><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}"><button class="btn btn-danger">Login with Google</button></a></div>

   		<div class="col-md-3"><a href="{% url 'social:begin' 'twitter' %}?next={{ request.path }}"><button class="btn btn-info">Login with Twitter</button></a></div>
   {% endif %}
   </ul>
 </p>
 </div>
{% endblock %}